body {
  background-image: url("taustakuva.jpg");
  margin-left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  border-radius: 10px;
  margin-left: 10px;
}

h1, h2, h3, h4, h5, p {
  color: aquamarine;
}

label {
  color: aquamarine;
}